* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    /* font-family: "DM Sans", sans-serif; */
    overflow-x: hidden;
    background: url('./imgs/pink_gradient.png') no-repeat center center fixed;
    background-size: cover;
    color: rgb(78, 55, 55);
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-family: "DM Serif Display", serif;
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.nav-item {
    padding: 0px 5px;
}

.nav-item:hover {
    transform: scale(1.25);
}

.fade-in {
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-container {
    padding-top: 30px;
    padding-bottom: 25px;
    z-index: 1;
}

h1, h2, p {
    margin: 0;
    font-family: "Noto Serif", serif;
    pointer-events: none;
}

h1 {
    font-weight: 500;
    font-size: 3.25rem;
}

h2 {
    font-size: 1.65rem;
}

p {
    font-size: 1.2rem;
    pointer-events: none;
}

#me {
    max-width: 75%;
    height: auto;
    border-radius: 50%;
}

.slide-in-text {
    animation: slide-in-text 1000ms ease-in-out;
    margin: auto;
}

@keyframes slide-in-text {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.slide-in-img {
    animation: slide-in-img 1000ms ease-in-out;
    align-items: center;
}

@keyframes slide-in-img {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.resume-btn {
    color: white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(200deg, #e66465, #9198e5);
    padding: 15px 30px;
    box-shadow: 4px 4px 15px rgba(223, 100, 149, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.resume-btn:hover {
    box-shadow: 8px 10px 20px rgba(223, 100, 149, 0.5);
    transform: translateY(-4px);
}

.resume-link {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }
}