* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* p {
    font-family: 'Open Sans';
    font-size: 18px;
}

body {
    font-family: 'Open Sans';
}

/* NAVBAR STUFF */
.navbar {
    justify-content: right;
    background-color: rgb(199 207 199);
    opacity: 0.95;
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    padding: 20px 35px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.navbar ul a:hover {
    text-decoration: none;
    background-color: #A9BD93;
    opacity: 0.9;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    /* box-shadow: 0 0 10px rgb(141 149 132); */
}

/* HOMEPAGE STUFF */
#home {
    font-family: 'Raleway';
    background: url(img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding: 10rem 0rem;
    color: #bd454a;
    font-size: 3rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.home-content {
    text-align: center;
    padding-top: 6rem;
}

h2 {
    margin-top: 3rem;
    font-family: 'Open Sans';
    font-size: 25px;
    color: white;
}

/* ABOUT ME & RESUME BUTTON HOMEPAGE */
.link {
    font-family: 'Raleway';
    font-weight: 100;
    text-decoration: none;
    color: white;
}

button {
    margin: 3rem 1rem;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(141 149 132);
    border: solid rgb(141 149 132);
}

button:hover {
    border-color: #A9BD93;
    box-shadow: 0 0 10px white;
    background-color: #A9BD93;
}

/* ABOUT ME STUFF */
#about {
    font-family: 'Raleway';
    background-color: #fffaf0;
    display: flex;
}

#huyenexplores {
    text-decoration: none;
    color: brown;
}

#huyenexplores:hover {
    color: rgba(165, 42, 42, 0.788);
}

.about, .contact-header {
    color: black;
    font-size: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 30px 80px 50px;
    /* margin-top: -50px; */
}

#me {
    border-radius: 5px;
    box-shadow: 30px 30px rgba(165, 42, 42, 0.788);
}

.col-sm-7, .col-sm-5 {
    padding: 30px;
}

/* CONTACT STUFF */
#contact {
    justify-content: center;
    display: flex;
    padding: 30px 50px 20px;
}

.contact-header {
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
    font-size: 50px;
}

.linked-icon {
    margin: 40px 0px;
}

.icon {
    text-decoration: none;
    margin: 60px;
}

.logo:hover {
    transform: scale(1.1);
}